body {
  background-color: #def5e5;
}

hr {
  border: none;
  border-top: 4px dotted #8ec3b0;
  height: 2px;
  width: auto;
}

img {
  height: 210px;
  width: 210px;
}

h1 {
  color: #66bfbf;
}

h3 {
  color: #66bfbf;
}
